<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/style")
    @Scripts.Render("~/bundles/scripts")
</head>
<body>
    <header>
        <div class="container">
            <div class="twelve columns">
                <h5 class="u-pull-left">FARMA PLUS S.A.</h5>
                <nav class="u-pull-right">
                    <ul>
                        <li>@Html.ActionLink("Empleados", "RegisterEmployee", "Employees")</li>
                        <li>@Html.ActionLink("Control de llegadas", "ArrivalControl", "Employees")</li>
                        <li>@Html.ActionLink("Simulacion de visitas", "VisitsSimulation", "Employees")</li>
                        <li>@Html.ActionLink("###", "Employees", "Employees")</li>
                        <li>@Html.ActionLink("###", "Employees", "Employees")</li>
                        <li>@Html.ActionLink("###", "Employees", "Employees")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
