@model List<GamersSpace.Models.Game>

@{
    Layout = null;
    ViewBag.Title = "Game List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Gamers Space</h1>
    <form id="navigation" class="navigation">
        <input type="text" id="inputText" name="inputValue" placeholder="Id" />
        <input type="submit" class="button" name="FindGame" value="Buscar Juego" formmethod="post" formaction=@Url.Action("GameInfo") />
        <input type="submit" class="button" name="ModifyGame" value="Modificar Juego" formmethod="post" formaction=@Url.Action("ModifyGame") />
        <input type="submit" class="button" name="ShowGames" value="Lista de Juegos" formmethod="get" formaction=@Url.Action("GameList") />
    </form>
    <h2>Lista de juegos</h2>
    <table id="formTable" class="contentTable">
        <tr>
            <th>Nombre</th>
            <th>Desarrollador</th>
            <th>Calificacion</th>
            <th>Genero</th>
            <th>Año de lanzamiento</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.publisher</td>
                <td>@item.rating</td>
                <td>@item.genre</td>
                <td>@item.release</td>
            </tr>
        }
    </table>
</body>
</html>
