@model GamersSpace.Models.Game

@{
    Layout = null;
    ViewBag.Title = "Game Information";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/style")
</head>
<body>
    <div class="section title">
        <div class="container title">
            <a href=@Url.Action("Index")><h1>Gamers Space</h1></a>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <form id="navigation" class="navigation">
                        <input type="text" id="inputText" name="inputValue" placeholder="Id" />
                        <input type="submit" class="btn button-primary" name="FindGame" value="Buscar Juego" formmethod="post" formaction=@Url.Action("GameInfo") />
                        <input type="submit" class="btn button-primary" name="ModifyGame" value="Modificar Juego" formmethod="post" formaction=@Url.Action("ModifyGame") />
                        <input type="submit" class="btn button-primary" name="ShowGames" value="Lista de Juegos" formmethod="get" formaction=@Url.Action("GameList") />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <center><h3>Informacion del juego</h3></center>
    <div class="section" style="margin: 5px">
        <p>Nombre: @Model.name</p>
        <p>Desarrollador: @Model.publisher</p>
        <p>Calificacion: @Model.rating</p>
        <p>Año de lanzamiento: @Model.release</p>
        <p>Genero: @Model.genre</p>
    </div>
</body>
</html>
